.calculator {
    margin: auto;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

button {
    background-color: white;
    color: black;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}
